body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}



.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.centered-content img {
    max-width: 70%;
    height: auto;
}



.spiral {
    display: flex;
    align-items: center;
    gap: 2px;
    position: absolute;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes spiral {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}

.character {
    color: white;
    font-size: 5vw;
    font-family: Courier;
    transform: translateY(calc(sin(var(--angle)) * 100px)) scale(calc(cos(var(--angle)) * 0.5 + 0.5));
    animation: spiral 10s linear infinite;
}